$font-stack:    Helvetica, sans-serif;
$font-stack-cursive:    Helvetica, cursive, sans-serif;
$font-first-color: #dad1d1;
$app-first-color: #656565;
$app-second-color: #e59505;
$app-third-color: #626161;
$default-margin: auto;
$width: 100vw;
$height: 100vh;
$font-size: 16px;
$br: 2%;

.app {
  font: 100% $font-stack;
  font-size: $font-size;
  background: $app-first-color;
  margin: $default-margin;
  width: $width;
  height: $height;
  color: $font-first-color;
  min-height: 667px;
  min-width: 687px;
}

.work-space {
  @extend .app;
  vertical-align: middle;
  max-width: 800px;
  max-height: 800px;
  min-height: 420px;
  min-width: 420px;
  width: 60%;
  height: 60%;
  border-radius: $br;
  background: $app-third-color;
  box-shadow: 0 0 30px #171616;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.grid-wrapper {
  display: grid;
}


h1{
  font-size: 44px;
  font:$font-stack-cursive;
  text-align: center;
  padding: 15px 0;
}

.title {
  @extend h1;
  color: $app-second-color
}

.toolbar {
  @extend .flex-wrapper;
  height: 80px;
  border-bottom: 2px solid $app-second-color
}

.taskbar {
  @extend .grid-wrapper;
  grid-template-columns: 1fr 2fr ;
  height: calc(100% - 80px);
}

.button {
  width: 140px;
  height: 48px;
  margin: auto 15px;
  border-radius: 4px;
  border: 1px solid $app-second-color;
  background: $app-second-color;
  color: $font-first-color;
}


.search {
  background: $app-third-color;
  position: relative;
  height: 48px;
  margin: auto 15px;
}

.search button {
  position: absolute;
  cursor: pointer;
  width: 48px;
  height: 50px;
  top: 0;
  right: 0;
  background: $app-second-color;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $font-first-color;
}

.search input {
  height: 48px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  padding: 0 48px 0 15px;
  border: none;
  color: $font-first-color;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);

}
.search input:focus {
  width: 176px;
  margin-right: 12px;
  z-index: 1;
  border-bottom: 1px solid $font-first-color;
  border-top: 1px solid $font-first-color;
  border-left: 1px solid $font-first-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cards-wrapper {
  height: calc(100% - 2px);
  overflow: scroll;
}

.cards-edit{
  background: $app-second-color;
  height: calc(100% - 2px);
  border-bottom-right-radius: $br;
}


.formik {
  margin: auto 0;
}

